{%  extends "./base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'BikeRentalApp/styles.css' %}">
{% endblock %}
{%  block content %}
    <h2>Bike Rental Options:</h2>
    <div id="list-container">
        <ul>
            <li>
                <a href="{% url 'bikelist' %}">Available Bikes</a>
            </li>
            <li>
                <a href="{% url 'renterlist' %}">Renters</a>
            </li>
            <li>
                <a href="{% url 'rentallist' %}">Rentals</a>
            </li>
        </ul>
    </div>
{% endblock %}
