image {
  height: 150px;
}

.description {
  font-size: 20px;
}

.cook-time {
  font-weight: bold;
}

.ingredients li {
  list-style: square;
}

p,
.time {
  color: gray;
}

.citation,
.external-link {
  color: SeaGreen;
}

body {
  font-family: Helvetica;
}
