/* Colors */

$dark-color-1: #ff7300;
$light-color-1: #FF8B00;

$dark-color-2: #057be9;
$light-color-2: #48ACF0;

$dark-color-3: #333;
$light-color-3: #666;

$dark-color-4: #AAA;
$light-color-4: #DDD;

$black: black;
$white: white;