body {
    background-color: black;
    margin: 0 auto;
    color: seashell;
    font-family: 'Helvetica', sans-serif;
    text-align: center;
}

nav {
    width: 100%;
    height: 69px;
    border-bottom: 1px solid seashell;
    display: flex;
    justify-content: space-between;
    position: sticky;
    background-color:rgba(00, 00, 00, .8);
    top: 0;
    text-decoration: underline;
    align-items: center;
    


}

nav img {
    height: 50px;
    padding: 0 0 0 10px;
   

}



nav li {

    list-style-type: none;
    display: block;
    color: seashell;
    text-decoration: underline;
    float: right;
    padding: 0 10px 0 10px;


}


header {
    
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg?_gl=1*3vq2v9*_ga*NDI1MDY2Nzc0LjE2NTcwNDk4MDc.*_ga_3LRZM6TM9L*MTY3MjQ4NzU0MS41Ni4xLjE2NzI0ODc1NDQuMC4wLjA.");
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mission {
    width: 1200px;
    background-color: black;
    
}
main {
    
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    

    
}

.tea img {
    width: 300px;
    height: 200px;
    padding: 10px;
  
}

.tea {
    background-color: black;
}

.tea h4 {
    margin-top: -8px;
  
}

.title {
    max-width: 1200px;
    margin: 0 auto;
    order: -1;
    flex: 1 0 100%;
   
    
}

.location {
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg?_gl=1*3vq2v9*_ga*NDI1MDY2Nzc0LjE2NTcwNDk4MDc.*_ga_3LRZM6TM9L*MTY3MjQ4NzU0MS41Ni4xLjE2NzI0ODc1NDQuMC4wLjA.");
    background-repeat: no-repeat;
    min-height: 500px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    

}

section {
    width: 300px;
    background-color: rgba(00, 00, 00, .8);
    opacity: 1;
    margin: 15px 40px;
}

.contact {
    width: 100%;
    min-height: 200px;
}

footer {
    text-align: left;
    padding: 20px;
}