{% extends "memories/base.html" %}
{% block add_memory %}
    <li class="nav-item">
        <a class="btn btn-primary"
        type="button"
        href="{% url 'memories:memory_creation' %}">
            <strong>ADD A MEMORY</strong>
        </a>
    </li>
{% endblock %}
{% block body %}
    {% if not user.is_authenticated %}
        <div class="text-center" style="height: 90vh">
            <div class="d-flex h-100 align-items-center justify-content-center">
                <div class="text-dark">
                    <h1 class="mb-3">Welcome to Places Remember!</h1>
                    <h4 class="mb-3">A web-app that will allow users to store their memories about certain places they have visited.</h4>
                    <a class="btn btn-outline-light btn-lg"
                       href="{% url 'social:begin' 'facebook' %}"
                       role="button"
                       style="background-color: rgba(59, 89, 152, 1.0)">Login with Facebook Account</a>
                </div>
            </div>
        </div>
    {% else %}
        <section id="memory-list-section">
            {% comment %} List of user memories {% endcomment %}
            <div class="d-block justify-content-center align-items-start"
                 style="height: 90vh">
                <div class="list-group w-100" style="height: 85vh">
                    <div class="d-flex justify-content-center align-items-center min-vh-100">
                        <h3 class="text-secondary text-center">
                            <strong>YOU HAVE NO MEMORIES</strong>
                        </h3>
                    </div>
                </div>
                {% comment %} Pagination {% endcomment %}
            </div>
        </section>
    {% endif %}
{% endblock %}