<!-- This HTML code is from the fortune.html file -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      body {
        text-align: center;
      }
    </style>
    <title>Django Fortune Teller</title>
  </head>
  <body>
    <h1>Here is your fortune</h1>
    <div class="flex-container">
      <div>{{ fortune }}</div>
    </div>

    <!--

    Try adding additional CSS styles to the fortune.html page to make it stylish.
    Creating a new view function to populate the template with a different type of message.
    Perhaps incorporate horoscopes!

    -->
  </body>
</html>