img {
    border-radius: 50px;
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 10px;
  }
  
  h1 {
    display: inline-block;
    vertical-align: middle;
    line-height: 50px;
    margin: 0;
  }
  
  p {
    margin-left: 70px;
  }