{% extends "memories/base.html" %}
{% load widget_tweaks %}
{% block body %}
    {% comment %} 2 columns: 1 at half-width for the form, the other at full-width for the map {% endcomment %}
    <div class="row bg-light mh-100 flex-fill d-flex justify-content-start"
         style="height: 90vh">
        {% comment %} Form section to add memory {% endcomment %}
        <div class="col-6 col-md-4">
            <form action="{% url 'memories:memory_creation' %}"
                  method="post"
                  class="px-2">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        {{ field|add_label_class:"font-weight-bold" }}
                        {% if field.name == "address" %}
                            {{ field|add_class:"form-control"|attr:"placeholder:Type to search or click on the map" }}
                        {% else %}
                            {{ field|add_class:"form-control" }}
                        {% endif %}
                    </div>
                {% endfor %}
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-success">Save</button>
                </div>
            </form>
        </div>
        {% comment %} Map section {% endcomment %}
        <div class="col-12 col-md-8 container">
            <div id="map" class="h-100 w-100"></div>
        </div>
    </div>
{% endblock %}