/*FONT FACES*/
/* latin-ext */
@font-face {
  font-family: 'Abril Fatface';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Abril Fatface'), local('AbrilFatface-Regular'), url(https://fonts.gstatic.com/s/abrilfatface/v11/zOL64pLDlL1D99S8g8PtiKchq-lmjdLh.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Abril Fatface';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Abril Fatface'), local('AbrilFatface-Regular'), url(https://fonts.gstatic.com/s/abrilfatface/v11/zOL64pLDlL1D99S8g8PtiKchq-dmjQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Merriweather Italic'), local('Merriweather-Italic'), url(https://fonts.gstatic.com/s/merriweather/v21/u-4m0qyriQwlOrhSvowK_l5-eRZDf-LHrw.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Merriweather Italic'), local('Merriweather-Italic'), url(https://fonts.gstatic.com/s/merriweather/v21/u-4m0qyriQwlOrhSvowK_l5-eRZKf-LHrw.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Merriweather Italic'), local('Merriweather-Italic'), url(https://fonts.gstatic.com/s/merriweather/v21/u-4m0qyriQwlOrhSvowK_l5-eRZBf-LHrw.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Merriweather Italic'), local('Merriweather-Italic'), url(https://fonts.gstatic.com/s/merriweather/v21/u-4m0qyriQwlOrhSvowK_l5-eRZAf-LHrw.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Merriweather Italic'), local('Merriweather-Italic'), url(https://fonts.gstatic.com/s/merriweather/v21/u-4m0qyriQwlOrhSvowK_l5-eRZOf-I.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Merriweather Regular'), local('Merriweather-Regular'), url(https://fonts.gstatic.com/s/merriweather/v21/u-440qyriQwlOrhSvowK_l5-cSZMZ-Y.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Merriweather Regular'), local('Merriweather-Regular'), url(https://fonts.gstatic.com/s/merriweather/v21/u-440qyriQwlOrhSvowK_l5-eCZMZ-Y.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Merriweather Regular'), local('Merriweather-Regular'), url(https://fonts.gstatic.com/s/merriweather/v21/u-440qyriQwlOrhSvowK_l5-cyZMZ-Y.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Merriweather Regular'), local('Merriweather-Regular'), url(https://fonts.gstatic.com/s/merriweather/v21/u-440qyriQwlOrhSvowK_l5-ciZMZ-Y.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Merriweather Regular'), local('Merriweather-Regular'), url(https://fonts.gstatic.com/s/merriweather/v21/u-440qyriQwlOrhSvowK_l5-fCZM.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Work Sans'), local('WorkSans-Regular'), url(https://fonts.gstatic.com/s/worksans/v5/QGYsz_wNahGAdqQ43Rh_cqDpp_k.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Work Sans'), local('WorkSans-Regular'), url(https://fonts.gstatic.com/s/worksans/v5/QGYsz_wNahGAdqQ43Rh_fKDp.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Work Sans Medium'), local('WorkSans-Medium'), url(https://fonts.gstatic.com/s/worksans/v5/QGYpz_wNahGAdqQ43Rh3j4P8lthN2fk.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Work Sans Medium'), local('WorkSans-Medium'), url(https://fonts.gstatic.com/s/worksans/v5/QGYpz_wNahGAdqQ43Rh3j4P8mNhN.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('Work Sans ExtraBold'), local('WorkSans-ExtraBold'), url(https://fonts.gstatic.com/s/worksans/v5/QGYpz_wNahGAdqQ43Rh324b8lthN2fk.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('Work Sans ExtraBold'), local('WorkSans-ExtraBold'), url(https://fonts.gstatic.com/s/worksans/v5/QGYpz_wNahGAdqQ43Rh324b8mNhN.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Croissant One";
  src: url("fonts/CroissantOne-Regular.ttf");
}

html, body{
  font-size: 18px;

/*Variables*/
    /*Background Colors*/
    --header-bkg: #fff;  /*white*/
    --footer-bkg: #212121; /*dark greyish*/
    --journal-bkg: rgb(254, 231, 218);
    /*Text colors*/
    --logo-text-color:  #ffb78c; /*peachy*/
    --header-links-color: #4a4a4a; /*greyish*/
    --footer-text-color:#9b9b9b; /*light greyish*/
    --banner-text-color: #329999; /*greenish tealish*
    --journal-text-color: *#4a4a4a; /*greyish*/
    --authors-name-color: var(--logo-text-color);
    --first-letter-color:  #329999; /*#10b0d8;*/ /*Blue*/
    --footer-italics-color:  #cfcfcf; /*very light greyish*/
    --big-letters-text-shadow: 2px 0px var(--footer-bkg);
    /*font-family*/
    --journal-font-family: "Work Sans", serif; /*also journal h2*/
    --footer-font-family: url(""Croissant One", "Merriweather", serif");
    --first-letter-font-family:  "Abril Fatface", serif; /*also journal h1*/
    --caption-font-family:  "Merriweather", serif;
    /* images*/
    --banner-bkg-image: url("https://i.postimg.cc/VkPt556B/banner-large.jpg");
}


@media only screen and (max-width: 1000px){
  html { font-size: 16px; }
}

@media only screen and (max-width: 680px){
  html { font-size: 14px; }
}


/*   Header */

.header {
  background-color: var(--header-bkg);
  display:flex;
  align-items: center;
  justify-content: space-around;
  height: 4.44rem;
  font-size: 1rem;
  font-weight: bold;
}

.header .logo {
  flex-grow: 1;
  color: var(--logo-text-color);
}

.header li{
  display: inline-block;
  padding-right: 2.25rem;
}

.header li a {
  text-decoration: none;
  color: var(--header-links-color);
}


/*   banner  */

.banner{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--banner-bkg-image);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 30rem;
  color: var(--banner-text-color);
  text-shadow: var(--big-letters-text-shadow);
}

.banner div{
    margin:auto;
    text-align: center;
}

.banner h2{  /*DEC 20XX*/
  font-weight: 500;
  text-transform: uppercase;
  font-family: var(--journal-font-family);
  font-size: 2.25rem;
  letter-spacing: .25rem;
  border-top: 4px solid var(--banner-text-color);
  border-bottom: 4px solid var(--banner-text-color);
}

.banner h1{ /*MOROCCO*/
  font-weight: 900;
  text-transform: uppercase;
  font-family: var(--first-letter-font-family);
  font-size: 10rem;
}

/*  <!-- Journal -->  */

.journal{
  background-color: var(--journal-bkg);
  font-family: var(--journal-font-family);
  color: var(--journal-text-color);
  padding: 0 25% 4rem 25%; /*This makes the journal entry narrow*/

}

.journal p {
  font-family: var(--journal-main-font);
  font-size: 1.5rem;
  line-height: 1.4;
  padding-bottom: 2.77rem;
}

.journal .first-letter{
  font-family: var(--first-letter-font-family);
  color: var(--first-letter-color);
  text-shadow: var(--big-letters-text-shadow);
  font-size: 7.44rem;
  line-height: .87;
  float:left; /*This makes it embed in the paragraph*/
  padding-right: 1.4rem; /*This makes space to the right so it's not cramped*/
}

.quote{
  display: blocK;
  text-align: center;
  font-size: 3.55rem;
  font-weight: 800;
  line-height: 1.5;
  padding: 4.44rem 0;
  margin-bottom: 3.33rem;

  border-top: 4px solid black;
  border-bottom: 4px solid black;
  /*Creates upper and lower lines enclosing the quote*/
}


/*  Journal - Photo   */
.photo{  /* Whole Container  pic + caption*/
  width: 75%;
  padding: 1.11rem;
  border-radius: 5px;
  background-color: white;
  margin: 0 auto 4.44rem auto; /*centers the content*/
}

.photo .img-container{
  overflow: hidden;
}

.photo .img-container img{
  width: 100%;

}

#market-photo{
  /*Id on the .photo container, not the img*/
  /*This fixes the size of large vertical image*/
  max-width: 380px;
}

.photo.first{
  /*This moves the pic up from is initial position */
  position: relative;
  top: -1.77rem;
  margin-bottom: 1.67rem;
}

caption .photo{
  font-style:italic;
  font-family: var(--caption-font-family);
}
/*  <!-- Footer -->  */

footer{
  display: flex;
  align-items: center;
  background-color: var(--footer-bkg);
  font-family: var(--footer-font-family);
}

footer .img-container {
  width: 400px;
}

footer .content{
  flex-grow: 1;
  font-style: italic;
  color: var(--footer-text-color);
  padding: 0 2rem;
  line-height: 1.5;
}

footer p{
  padding-bottom: 1.66rem;
}

footer p:last-child {
  padding-bottom: 0;
}

footer .author{
  color: var(--authors-name-color);
}

footer em{
  color: var(--footer-italics-color);
}

footer img{;
  max-height: 260px;
  overflow: hidden;
  flex-grow: 3;
}
