/* About Page */

.about h1 {
  width: 100%;
  padding: 10.5rem 0;
  background-image: url('https://s3.amazonaws.com/codecademy-content/programs/ui-design/ui-conventions/img/about.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: 'PT Serif', sans-serif;
  font-size: 9rem;
  color: hsla(0, 0%, 100%, 1);
}

.about .information {
  padding: 3.75rem 20% 6.75rem 20%;
  color: hsla(0, 0%, 29%, 1);
}

.about h3 {
  margin-bottom: 1rem;
  font-size: 1.625rem;
}

.about p {
  padding-bottom: 2rem;
  font-size: 1.25rem;
  line-height: 1.8;
}

.about .join {
  display: grid;
  justify-items: center;
  padding: 1.5rem 0;
  border: solid 1px #e7e7e7;
  border-radius: 2px;
  background-color: hsla(0, 0%, 100%, 1);
}

@media only screen and (max-width: 735px) {
  .about h1 {
    font-size: 6rem;
  }
}

@media only screen and (max-width: 490px) {
  .about h1 {
    font-size: 4rem;
  }

  .about h3 {
    font-size: 1.25rem;
  }

  .about p {
    font-size: 1rem;
  }
}