#main {
  text-align: left;
  justify-items: auto;
}

.jobs {
  padding: 3.75rem 11.75rem 7.5625rem 11.75rem;
}

.jobs h3 {
  margin-bottom: 1rem;
  font-size: 1.625rem;
}

form {
  display: grid;
  grid-template-columns: repeat(2, 2fr) 1fr;
  grid-gap: 1.75rem;
  align-items: flex-end;
  margin-bottom: 3.125rem;
}

#main form .button {
  height: fit-content;
  padding: 1.14rem 0;
}

.job-list {
  border-top: solid 1px hsla(0, 0%, 59%, 1);
}

.job {
  border-bottom: solid 1px hsla(0, 0%, 59%, 1);
  padding: 1rem 0;
}

.job h4 {
  padding-bottom: .5rem;
  font-size: 1.25rem;
  line-height: 1.2;
  color: hsla(88, 100%, 25%, 1);
}

#see-all-jobs {
  justify-self: center;
  margin-top: 3.6875rem;
}