.service-box {
  padding: 10% 10% 0;
}

.service-box i {
  font-size: 2rem;
  color: #ff7300;
}

.service-box h3 {
  margin: .75em 0 0;
}

.service-box p {
  margin: .9em 0 0;
  line-height: 1.5em;
}